<div class="container">
    <form [formGroup]="formLotterie">
        <div class="row">
            <div class="col-sm">
                <label for="lotterie">Selecione a Loteria</label>
                <select class="form-control" id="lotterie" formControlName="lotterie" (change)="changeLotterie()">
                    <option *ngFor="let lotterie of lotteries" [value]="lotterie">{{ lotterie | nameLotterie }}</option>
                </select>
            </div>
            <div class="col-sm">
                <label for="quantityGames">Quantidade de jogos</label>
                <select class="form-control" id="quantityGames" formControlName="quantityGames">
                    <option value=0>SELECIONE</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                </select>
            </div>
            <div class="col-sm" [hidden]="hiddenQuantityShamrocks">
                <label for="quantityShamrocks">Quantidade de trevos</label>
                <select class="form-control" id="quantityShamrocks" formControlName="quantityShamrocks">
                    <option value=0>SELECIONE</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>
            <div class="col-sm" [hidden]="hiddenQuantityNumbers">
                <label for="quantityNumbers">Quantidade de números</label>
                <select class="form-control" id="quantityNumbers" formControlName="quantityNumbers">
                    <option value=0>SELECIONE</option>
                    <option *ngFor="let number of numbers" [value]="number">{{ number }}</option>
                </select>
            </div>
            <div class="col-sm div-button">
                <p-button label="Gerar números" (onClick)="generateResults()"></p-button>
            </div>
        </div>
    </form>
    <br><br>
    <div [hidden]="hiddenResult">
        <h2>{{lotterieTitle | nameLotterie}}</h2>
        <div class="result-div" *ngFor="let result of resultList">
            <div>
                <div [hidden]="resultVisibleNumbers">
                    <h3>Números</h3>
                    <ng-container *ngFor="let numbers of result.numbers">
                        <div class="circle green">{{ numbers }}</div>
                    </ng-container>
                </div>

                <div [hidden]="resultVisibleNumbersSuperSete">
                    <h3>Números</h3>
                    <ng-container *ngFor="let numbers of result.numbersSuperSete">
                        <div class="circle green">{{ numbers }}</div>
                    </ng-container>
                </div>

                <div [hidden]="resultVisibleShamrocks">
                    <h3>Trevos</h3>
                    <ng-container *ngFor="let numbers of result.shamrocks">
                        <div class="circle green">{{ numbers }}</div>
                    </ng-container>
                </div>

                <div [hidden]="resultVisibleMonth">
                    <h3>Mês</h3>
                    <ng-container>
                        <h1>{{result.month}}</h1>                    
                    </ng-container>
                </div>

                <div [hidden]="resultVisibleTeam">
                    <h3>Time</h3>
                    <ng-container>
                        <h1>{{result.team}}</h1>    
                    </ng-container>
                </div>
                <hr>
            </div>
            <div>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>